.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__h2 {
    font-size: 22px;
    margin-top: 15px;
}

.img_container {
    margin-top: 15px;
    width: 166px;
}

.img_container__img {
    width: 100%;
}