.EmptyTodos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.EmptyTodos-container__h2 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-container__img {
    width: 200px;
}